body{
    font-family: 'Nunito', sans-serif;
}

h1{
    font-weight: 900;
    font-size: 40px;
}

h3{
    color: darkslateblue;
}

h4{
    color: rgb(139, 61, 123)
}

nav{
    background-color: pink;
    padding: 10px;
    text-align: end;
    position: sticky;
    top: 0;
    overflow-x: hidden;
    z-index: 2;
}

#header{
    height: 1.5rem;
    overflow-y: hidden;
}

#header a{
    padding: 10px 15px;
    color: black;
}

nav a{
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    background-color: aliceblue;
}

a{
    color: rgb(76, 62, 168);
}

#content{
    margin-top: 2rem;
    position: sticky;
    top: 5rem;
    left: 4rem;
    float: left;
    width: auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: lavender;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    z-index: 0;
    max-width: 20rem;
}

#content a{
    border: 0;
    text-align: left;
    color: black;
    margin: 2px;
}

#gap{
    position: sticky;
    top: 2.5rem;
    height: 1.2rem;
    background-color: white;
    z-index: 1;
}

.report{
    position: static;
    margin-left: 30svw;
    margin-right: 50px;
    margin-top: 2rem;
}

.report p{
    text-align: justify;
}

h2[id], h3[id]{
    scroll-margin-top: 4rem;
}

#content a.sub{
    margin-left: 20px;
    color: darkslateblue;
}

img {
    width: 50svw;
    height: auto;
}

.model img{
    width: auto;
    height: 55svh;
}

footer{
    height: 5rem;
}